<div>
    <div>
        <table mat-table [dataSource]="cancionesTabla" matSort  class="mat-elevation-z8">
            <ng-container matColumnDef="NombreCancion">
              <th mat-header-cell *matHeaderCellDef> Nombre Cancion </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="NombreProductor">
              <th mat-header-cell *matHeaderCellDef> Artista </th>
              <td mat-cell *matCellDef="let element"> {{element.artista_productor}} </td>
            </ng-container>
            <ng-container matColumnDef="CopiasFisicas">
                <th mat-header-cell *matHeaderCellDef> Copias Fisicas </th>
                <td mat-cell *matCellDef="let element"> {{element.copias_fisicas}} </td>
              </ng-container>
              <ng-container matColumnDef="Precio">
                <th mat-header-cell *matHeaderCellDef> Precio </th>
                <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
    <div>
        <form [formGroup]="formCancionAgregar" #frmCancion='ngForm' (ngSubmit)="agregarCancion(formCancionAgregar.value)">
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Nombre Cancion</mat-label>
                <input matInput formControlName="nombre">
                <mat-error *ngIf="formCancionAgregar.get('nombre').hasError('required')">
                    Debe ingresar el nombre de la canción
                </mat-error>
                <mat-error *ngIf="formCancionAgregar.get('nombre').hasError('minlength')">
                    La cancion debe ser minimo de 3 digitos
                </mat-error>
                <mat-error *ngIf="formCancionAgregar.get('nombre').hasError('maxlength')">
                    La cancion debe ser minimo de 10 digitos
                </mat-error>
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Artista</mat-label>
                <select matNativeControl formControlName="artista_productor" (change)="onSelect($event.target.value)">
                    <option label="--Seleccione un el Artista--"></option>
                    <option *ngFor="let cantante of cantantes" [value]="cantante.nick_name">{{cantante.nick_name}}
                    </option>
                </select>
                <mat-error *ngIf="formCancionAgregar.get('artista_productor').hasError('required')">
                    Seleccione un artista 
                </mat-error>
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Artista Secundario</mat-label>
                <input matInput formControlName="artistas_secundarios">
                <mat-error *ngIf="formCancionAgregar.get('artistas_secundarios').hasError('required')">
                    No puede mandar vacio el artista Secundario
                </mat-error>
                <mat-error *ngIf="formCancionAgregar.get('artistas_secundarios').hasError('minlength')">
                    El artista secundario minimo debe tener 4 digitos
                </mat-error>
                <mat-error *ngIf="formCancionAgregar.get('artistas_secundarios').hasError('maxlength')">
                    El artista secundario es maximo de 20 caracteres
                </mat-error>
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Cantidad</mat-label>
                <input type="number" matInput formControlName="copias_fisicas">
                <mat-error *ngIf="formCancionAgregar.get('copias_fisicas').hasError('required')">
                    Ingrese la cantidad 
                </mat-error>
                <mat-error *ngIf="formCancionAgregar.get('copias_fisicas').hasError('min')">
                    Minimo debe ser 1 en la cantidad
                </mat-error>
                <mat-error *ngIf="formCancionAgregar.get('copias_fisicas').hasError('max')">
                    Maximo puedes ingresar 300 en la cantidad
                </mat-error>
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Precio</mat-label>
                <input type="number" matInput formControlName="precio">
                <mat-error *ngIf="formCancionAgregar.get('precio').hasError('required')">
                    Ingrese un precio para la canción
                </mat-error>
                <mat-error *ngIf="formCancionAgregar.get('precio').hasError('min')">
                    Minimo puede ingresar 1000 en le valor de la cancion
                </mat-error>
                <mat-error *ngIf="formCancionAgregar.get('precio').hasError('max')">
                    Maximo puede ingresar 100000 en el valor de la canción
                </mat-error>
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Disco al que pertenece</mat-label>
                <select matNativeControl formControlName="id_album">
                    <option label="--Seleccione un el disco--"></option>
                    <option *ngFor="let disco of cantanteDiscos" [value]="disco.id_disco">{{disco.nombre_disco}}</option>
                </select>
                <mat-error *ngIf="formCancionAgregar.get('id_album').hasError('required')">
                    Selecccione un disco para agregar la canción
                </mat-error>
            </mat-form-field>
            <br>
            <button class="ancho" mat-raised-button mat-button color="primary"
            [disabled]="frmCancion.invalid">Agregar</button>
        </form>
    </div>
</div>