<div>
    <div class="descripcion">
        <h1>AGREGAR CANTANTE</h1>
    </div>
    <div class="datos">
        <form [formGroup]="formAgregarCantante" #frmAgrCantante="ngForm"
            (ngSubmit)="agregarCantante(formAgregarCantante.value)">
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Nombre Artistico</mat-label>
                <input matInput formControlName="nick_name">
                <!--Aca se dispara los errores-->
                <mat-error *ngIf="formAgregarCantante.get('nick_name').hasError('required')">
                    Por favor una nombre Artistico
                </mat-error>
                <mat-error *ngIf="formAgregarCantante.get('nick_name').hasError('minlength')">
                    El nombre ariticio debe contener minimo 2 letras
                </mat-error>
                <mat-error *ngIf="formAgregarCantante.get('nick_name').hasError('maxlength')">
                    El nombre ariticio debe contener maximo 20 letras
                </mat-error>
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Categoria artistica</mat-label>
                <input matInput formControlName="categoria">
                <!--Aca se dispara los errores-->
                <mat-error *ngIf="formAgregarCantante.get('categoria').hasError('required')">
                    Por favor una Categoria
                </mat-error>
                <mat-error *ngIf="formAgregarCantante.get('categoria').hasError('minlength')">
                    La categoria debe ser mayor de 3 digitos
                </mat-error>
                <mat-error *ngIf="formAgregarCantante.get('categoria').hasError('maxlength')">
                    La categoria debe ser menor de 10 digitos
                </mat-error>
                <mat-error *ngIf="formAgregarCantante.get('categoria').hasError('pattern')">
                    Deben ser solo letras
                </mat-error>
            </mat-form-field>
            <br>
            <button class="ancho" mat-raised-button mat-button color="primary"
                [disabled]="frmAgrCantante.invalid">ingresar</button>
        </form>
    </div>
</div>