<div class="titulo">
  <h1>INGRESAR</h1>
</div>
<section>
  <div id="seccion" class="example-button-row">
    <a mat-button href="agregarDisco" color="primary">Discos</a>
    <img src="./assets/cd.png">
  </div>
  <div id="seccion" class="example-button-row">
    <a mat-button href="agregarCantante" color="primary">Cantantes</a>
    <img src="./assets/microfono.png">
  </div>
  <div id="seccion" class="example-button-row">
    <a mat-button href="agregarCancion" color="primary">Canciones</a>
    <img src="./assets/musica.png">
  </div>
  <div id="seccion" class="example-button-row">
    <a mat-button href="reporteVentas" color="primary">Reporte Ventas</a>
    <img src="./assets/musica.png">
  </div>
</section>