.titulo {
  margin: auto;
  margin-top: 10px;
  width: 80%;
  text-align: center;
  background-color: rgb(43, 6, 177);
  color: rgb(254, 254, 255);
  font-weight: 500;
  padding: 15px;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.titulo h1{
  margin-bottom: 2px;
  margin-top: 2px;
}

section {
  margin: auto;
  margin-top: 50px;
  display: table;
  width: 100%;
}

#seccion {
  text-align: center;
}

#seccion a {
  font-size: 30px;
  width: 100%;
}

#seccion img {
  padding-top: 20px;
  width: 150px;
  height: 150px;
}

.example-label {
  display: table-cell;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
