<div class="inicio">
    <section>
    <div class="opciones-ingreso" id="ingresar">
        <h3>¿Como desea ingresar?</h3>
        <div class="elementos">
            <div id="usuario" class="elementos-items"> <img src="./assets/image/usuario.png" alt=""> <br> <a mat-button
                    href="/login">Ingreso Administrador</a>
            </div>
            <div id="conductor" class="elementos-items"><img src="./assets/image/conductor.png" alt=""> <br> <a mat-button
                    href="/fomularioDeCompras">Ingreso Comprador</a>
            </div>
        </div>

    </div>
</section>
</div>