<div>
    <div>
        <table mat-table [dataSource]="discos" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="Nombre del disco">
                <th mat-header-cell *matHeaderCellDef> Nombre del disco </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre_disco}} </td>
            </ng-container>
            <ng-container matColumnDef="Compañia Productora">
                <th mat-header-cell *matHeaderCellDef> Compañia productora </th>
                <td mat-cell *matCellDef="let element"> {{element.compania_productora}} </td>
            </ng-container>
            <ng-container matColumnDef="Formato">
                <th mat-header-cell *matHeaderCellDef> Formato </th>
                <td mat-cell *matCellDef="let element"> {{element.formato}} </td>
            </ng-container>
            <ng-container matColumnDef="Año de lanzamiento">
                <th mat-header-cell *matHeaderCellDef> Año de lanzamiento </th>
                <td mat-cell *matCellDef="let element"> {{element.ano_lanzamiento}} </td>
            </ng-container>
            <ng-container matColumnDef="Cantidad">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let element" type="password"> {{element.cantidad_discos}} </td>
            </ng-container>
            <ng-container matColumnDef="Precio">
                <th mat-header-cell *matHeaderCellDef> Precio </th>
                <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div class="descripcion">
        <h1>AGREGAR DISCOS</h1>
    </div>
    <div class="datos">
        <form [formGroup]="formDiscoAgregar" (ngSubmit)="agregarDisco(formDiscoAgregar.value)">
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Nombre Disco</mat-label>
                <input matInput formControlName="nombre_disco">
                <mat-error *ngIf="formDiscoAgregar.get('nombre_disco').hasError('required')">
                    Debes agregar nombre del discos
                </mat-error>
                <mat-error *ngIf="formDiscoAgregar.get('nombre_disco').hasError('minlength')">
                    El disco debe ser minimo de 4 digitos
                </mat-error>
                <mat-error *ngIf="formDiscoAgregar.get('nombre_disco').hasError('maxlength')">
                    El disco debe ser minimo de 20 digitos
                </mat-error>
                <mat-error *ngIf="formDiscoAgregar.get('nombre_disco').hasError('pattern')">
                    Todo de ser letras
                </mat-error>
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Compañia productora</mat-label>
                <input matInput formControlName="compania_productora">
                <mat-error *ngIf="formDiscoAgregar.get('compania_productora').hasError('required')">
                    Debe ingresar una compañia
                </mat-error>
                <mat-error *ngIf="formDiscoAgregar.get('compania_productora').hasError('minlength')">
                    La compañia debe ser minimo de 6 digitos
                </mat-error>
                <mat-error *ngIf="formDiscoAgregar.get('compania_productora').hasError('maxlength')">
                    La compañia debe ser minimo de 10 digitos
                </mat-error>
                <mat-error *ngIf="formDiscoAgregar.get('compania_productora').hasError('pattern')">
                    Todo de ser letras
                </mat-error>
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Año de lanzamiento</mat-label>
                <input type="number" matInput formControlName="ano_lanzamiento">
                <mat-error *ngIf="formDiscoAgregar.get('ano_lanzamiento').hasError('required')">
                    Debes ingresar un año de lanzamiento
                </mat-error>
                <mat-error *ngIf="formDiscoAgregar.get('ano_lanzamiento').hasError('min')">
                    El año minimo es de 1860
                </mat-error>
                <mat-error *ngIf="formDiscoAgregar.get('ano_lanzamiento').hasError('max')">
                    El año maximo es este año
                </mat-error>
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Cantidad</mat-label>
                <input matInput type="number" formControlName="cantidad_discos">
                <mat-error *ngIf="formDiscoAgregar.get('cantidad_discos').hasError('required')">
                    Debe ingresar un numero
                </mat-error>
                <mat-error *ngIf="formDiscoAgregar.get('cantidad_discos').hasError('min')">
                    Minimo debe ingresar como cantidad 1
                </mat-error>
                <mat-error *ngIf="formDiscoAgregar.get('cantidad_discos').hasError('max')">
                    Maximo debe ingresar 300 como cantidad
                </mat-error>
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Precio</mat-label>
                <input type="number" matInput formControlName="precio">
                <mat-error *ngIf="formDiscoAgregar.get('precio').hasError('required')">
                    Debe ingresar un precio
                </mat-error>
                <mat-error *ngIf="formDiscoAgregar.get('precio').hasError('min')">
                    El precio minimo es 1.000
                </mat-error>
                <mat-error *ngIf="formDiscoAgregar.get('precio').hasError('max')">
                    El precio maximo es de 100.000
                </mat-error>
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Formato</mat-label>
                <select matNativeControl formControlName="formato">
                    <option label="--Seleccione un el formato--"></option>
                    <option *ngFor="let product of formatos" [value]="product.value">{{product.tp_formato}}</option>
                </select>
                <mat-error *ngIf="formDiscoAgregar.get('formato').hasError('required')">
                    Seleccione un formato
                </mat-error>
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Artista</mat-label>
                <select matNativeControl formControlName="artista">
                    <option label="--Seleccione un el Artista--"></option>
                    <option *ngFor="let cantante of cantantes" [value]="cantante.idCantante">{{cantante.nick_name}}
                    </option>
                    <mat-error *ngIf="formDiscoAgregar.get('artista').hasError('required')">
                        Seleccione un artista
                    </mat-error>
                </select>
            </mat-form-field>
            <br>
            <button class="ancho" mat-raised-button mat-button color="primary">ingresar</button>
        </form>
    </div>
</div>